*{
    box-sizing: border-box;
    background-color: lightblue;
  }
  .box{
    border: 1px solid black;
    padding: 20px;
    width: 300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightpink;
  }
  .input{
    margin-bottom: 15px;
  }
  p, h1{
    background-color: lightpink;
  }